.characterInfo {
    height: 100%;
    max-height: 100vh;
    font-size: 20px;
}

.navbar > h1 {
    margin-right: 20px;
    color: white;

}

.container {
    margin-top: 130px;
    display: flex;
    justify-content: flex-end;
}

.container > img {
    height: 600px;
    width: 400px;
    margin-right: 50px;
    box-shadow: 0 1px 2px rgba(240, 242, 240, 0.07), 
                0 2px 4px rgba(237, 235, 235, 0.07), 
                0 4px 8px rgba(246, 242, 242, 0.07), 
                0 8px 16px rgba(245, 243, 243, 0.07),
                0 16px 32px rgba(242, 232, 232, 0.07), 
                0 32px 64px rgba(236, 230, 230, 0.07);
    border-radius: 5px;
    border: 2px solid green;
    position: fixed;
    left: 10%;
}

.info {
    max-width: 30vw;
    padding: 20px;
    align-self: center;
    margin-top: 10px;
    margin-right: 20%;
}

.quotes {
    padding: 20px 0;
}

h2{
    margin-bottom: 20px;
}

hr {
    margin-top: 20px;
}

.death {
    color: rgb(109, 212, 25);
}